/client-java/nbproject/private/
/client-java/nbproject/
/client-java/build/classes/
/client-java/build/empty/
/client-java/build/generated/
/client-java/build/test/
/client-java/build/built-jar.properties
